@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add this class to hide the scrollbar but keep the functionality */
.no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  
  .no-scrollbar::-webkit-scrollbar {
    display: none;  /* Chrome, Safari, Opera*/
  }
  
